[run]
source = two_factor
omit = */migrations/*,two_factor/compat.py
parallel = true

[report]
precision = 2
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
