# The app itself

-e .

# Runtime dependencies

Django
twilio
django_otp
qrcode

# Example app

South
django-debug-toolbar
django-bootstrap-form
django-user-sessions

# Testing

coverage
flake8
tox
mock

# Translation

transifex-client

# Documentation

Sphinx
sphinx_rtd_theme

# Build

wheel
bumpversion
