# The app itself

-e .

# Additional runtime dependencies

# django-user-sessions 1.7.1 is not compatible with Django 4, see #565
# TODO: remove next line when new django-user-sessions version is released
Django>=3.2,<4

twilio
phonenumberslite

# Example app

django-debug-toolbar
django-bootstrap-form
django-user-sessions

# Example app (WebAuthn)

webauthn~=1.6.0

# Testing

coverage
flake8
tox
isort

# Translation

transifex-client

# Documentation

Sphinx
sphinx_rtd_theme

# Build

wheel
bump2version
twine
