{% extends "two_factor/_base.html" %}
{% load future i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Backup Tokens" %}{% endblock %}</h1>

  {% if device.token_set.count %}
    <ul>
      {% for token in device.token_set.all %}
        <li>{{ token.token }}</li>
      {% endfor %}
    </ul>
    <form method="post">{% csrf_token %}{{ form }}
      <button class="btn btn-primary" type="submit">Regenerate Codes</button>
    </form>
  {% else %}
    <p>You don't have any backup codes yet.</p>
    <form method="post">{% csrf_token %}{{ form }}
      <button class="btn btn-primary" type="submit">Generate Codes</button>
    </form>
  {% endif %}
{% endblock %}
