{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>
  {% if partial_template_name %}
    {% include partial_template_name %}
  {% endif %}

  {% if wizard.steps.current == 'welcome' %}
    <p>{% blocktrans %}You are about to take your account security to the
        next level. Follow the steps in this wizard to enable two-factor
        authentication.{% endblocktrans %}</p>
  {% elif wizard.steps.current == 'method' %}
    <p>{% blocktrans %}Please select which authentication method you would
        like to use.{% endblocktrans %}</p>
  {% elif wizard.steps.current == 'yubikey' %}
    <p>{% blocktrans %}To identify and verify your YubiKey, please insert a
      token in the field below. Your YubiKey will be linked to your
      account.{% endblocktrans %}</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <div style="margin-left: -9999px"><input type="submit" value=""/></div>

    {% include "two_factor/_wizard_actions.html" %}
  </form>
{% endblock %}
