{% extends "base.html" %}
{% load future %}

{% block title %}My Profile{% endblock %}
{% block nav_profile %}active{% endblock %}

{% block content %}
    <h1>My Profile</h1>

    <dl>
        <dt>Logged in as</dt>
        <dd>{{ user }} (<a href="{% url 'logout' %}">Logout</a>)</dd>

        <dt>Two-factor authentication</dt>
        <dd>
            {% if user.token %}
                Enabled (<a href="{% url 'tf:disable' %}">Disable two-factor
                authentication</a>)
            {% else %}
                Disabled (<a href="{% url 'tf:enable' %}">Enable two-factor
                authentication</a>)
            {% endif %}
        </dd>
    </dl>
{% endblock %}
