{% extends "base.html" %}
{% load future %}

{% block title %}My Profile{% endblock %}
{% block nav_profile %}active{% endblock %}

{% block content %}
    <h1>Hi, <small>{{ user }}</small></h1>

    <h4>Two-Factor Authentication</h4>
    {% if not user.token %}
        <p>To increase your account security, please enable two-factor
            authentication. Use the simple wizard to guide you through the steps
            to link your phone with your account.</p>
        <p><a href="{% url 'tf:enable' %}" class="btn btn-success">
            Enable two-factor authentication</a></p>
    {% else %}
        <p>You have enabled two-factor authentication. If you have changed your
            mind, you can disable it again.</p>
        <p><a href="{% url 'tf:disable' %}" class="btn btn-mini btn-danger">
            Disable two-factor authentication</a></p>
    {% endif %}

    <h4>Authorized Computers</h4>
    {% if user.verifiedcomputer_set.all %}
        <table class="table table-striped table-bordered">
            <thead><tr><th>IP Address</th>
                <th>Last Used</th>
                <th>Actions</th></tr></thead>
        {% for vc in user.verifiedcomputer_set.all %}
            <tr><td>{{ vc.ip }}</td>
                <td>{{ vc.last_used_at|timesince }} ago</td>
                <td><form action="{% url 'unverify' vc.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-small btn-warning">Delete</button>
                </form></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No verified computers</p>
    {% endif %}

{% endblock %}
