{% load future %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                {% if user.is_authenticated %}<ul class="nav pull-right">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>{% endif %}

                <a class="brand" href="{% url 'home' %}">Two Factor Demo</a>
                <ul class="nav">
                    <li class="{% block nav_home %}{% endblock %}">
                        <a href="{% url 'home' %}">Home</a></li>
                    <li class="{% block nav_profile %}{% endblock %}">
                        <a href="{% url 'profile' %}">My Profile</a></li>
                </ul>
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
</body>
</html>
