{% load i18n %}
<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  {% block content_wrapper %}
    <nav class="navbar navbar-light" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">{% trans "Demo" %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav">
            <li class="{% block nav_home %}{% endblock %}">
                <a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li class="{% block nav_secret %}{% endblock %}">
                <a href="{% url 'secret' %}">{% trans "Secret Page" %}</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li><a>{{ user }}
                {% if user.otp_device %}🔒{% endif %}
              </a></li>
              <li class="{% block nav_profile %}{% endblock %}">
                  <a href="{% url 'two_factor:profile' %}">{% trans "Account Security" %}</a></li>
              <li class="{% block nav_sessions %}{% endblock %}">
                  <a href="{% url 'user_sessions:session_list' %}">{% trans "Sessions" %}</a></li>
              <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
              <li><a>{% trans "Not logged in" %}</a></li>
              <li><a href="{% url 'two_factor:login' %}">{% trans "Login" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% include "_messages.html" %}
      {% block content %}{% endblock %}
    </div>

  {% endblock %}
</body>
</html>
