{% load i18n %}
<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
  <![endif]-->
</head>
<body>
  {% block content_wrapper %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">{% trans "Demo" %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{% block nav_home %}{% endblock %}">
                <a href="{% url 'home' %}">{% trans "Home" %}</a></li>
            <li class="{% block nav_secret %}{% endblock %}">
                <a href="{% url 'secret' %}">{% trans "Secret Page" %}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>{{ user }}
                {% if user.otp_device %}<span class="glyphicon glyphicon-lock"></span>{% endif %}
              </a></li>
              <li class="{% block nav_profile %}{% endblock %}">
                  <a href="{% url 'two_factor:profile' %}">{% trans "Account Security" %}</a></li>
              <li class="{% block nav_sessions %}{% endblock %}">
                  <a href="{% url 'user_sessions:session_list' %}">{% trans "Sessions" %}</a></li>
              <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
              <li><a>{% trans "Not logged in" %}</a></li>
              <li><a href="{% url 'two_factor:login' %}">{% trans "Login" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% include "_messages.html" %}
      {% block content %}{% endblock %}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>
