<style type="text/css">
.form-row button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.login .form-row #id_auth-username,
.login .form-row #id_auth-password,
.login .form-row #id_token-otp_token,
.login .form-row #id_backup-otp_token,
.login .form-row #id_method-method,
.login .form-row #id_generator-token,
.login .form-row #id_call-number,
.login .form-row #id_sms-number {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login .form-row #id_method-method li {
    list-style: none;
}

.form-row button:active,
.form-row button:focus,
.form-row button:hover {
    background: #609ab6;
}

.form-row button[disabled] {
    opacity: 0.4;
}

.form-row button.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #417690;
}

.form-row button.default:active,
.form-row button.default:focus,
.form-row button.default:hover {
    background: #205067;
}

.form-row button.default,
.form-row button.default {
    opacity: 0.4;
}
</style>
