{% load i18n %}

{% if wizard.steps.current == 'auth' %}
    <div class="password-reset-link">
        <a href="/admin/password_reset/">Forgotten your password or username?</a>
    </div>
{% endif %}

<div class="submit-row">
    {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default">{% trans "Back" %}</button>
    {% else %}
        <button disabled name="" type="button" class="btn btn-disabled">{% trans "Back" %}</button>
    {% endif %}
    <input type="submit" value="{% trans "Next" %}">
</div>
